body{ margin:0; padding:0;background:#F6F6F6;}
a,h1,h2,h3,ul,li,p{ margin:0; padding:0; list-style:none; text-decoration:none;}
a img{ border:none;}

.clr{clear:both;margin:0;padding:0;}
a:hover{background:#F00;}
body {
	
	font: normal 12px/22px 宋体;
}
img {
	border: 0;
}
a {
	text-decoration: none;
	
}
.seckill_end{
	float: right;
	margin-right: 10%;
}

#mshd{ width:1200px; height:auto; margin:0 auto;}

#mshd .msdjs{ width:1200px; height:55px; background:#e01121; }
#mshd .msdjs img{ width:38px; height:38px; display:block; float:left; padding-left:15px; padding-top:10px;}
#mshd .msdjs h2{font-size:24px; color:#fff; padding-left:10px; line-height:2.5em; float:left;}

#mshd .msdjs .a1{font-size:14px; color:#fff; padding-left:10px; line-height:75px;}



#mshd .mshd1{ width:198px; height:300px; float:left;}
#mshd .mshd1 img{ margin:0 auto;width:190px; height: 224px; display:block;}

#mshd .msdjs .djstx{ width:300px; height:40px; float:right; color:#fff; display:block;}
#mshd .msdjs .djstx span{ width:70px; height:40px; display:block; overflow:hidden; float:left; line-height:50px; font-size:14px; font-weight:bolder;}
#mshd .msdjs .djstx .mstx{width:150px; height:40px; display:block; overflow:hidden;float:left;}
#mshd .msdjs .mssz{ width:60px; height:50px; display:block; float:left;  background:url(../images/seckill/02.png) no-repeat; margin:4px 0px 0px 20px;}

.scrollBox {
	width: 1200px;
	height:222px;

	background:#fff;

	
	position: relative;
	/*float:left;去掉了右侧的广告图*/
}
.scrollBox .piclist {
	overflow: hidden;
	nzoom: 1;
	height:300px;
	overflow:hidden;
	display:block;
}
.scrollBox .ohbox {
	overflow: hidden;
	position: relative;
	width: 1200px;
	
}
.scrollBox {
	position: relative;
	overflow: hidden;
	zoom: 1;
}

.scrollBox .piclist li {
	float: left;
	display: inline;
	width: 248px;
	 height: 220px;
	background: #fff;
	border: 1px solid #CCC;
	border-top:#fff;

	
	
	
}
.scrollBox .piclist li img{ width:130px; height:130px; display:block; margin:0 auto; overflow:hidden;}

.scrollBox .piclist li a span {color:#999;}
.scrollBox .piclist li .jg{	height: 20px;
	width:200px; width:200px; 

	display: block;
	text-align: center;
	margin:0 auto;
	padding-top:15px;
	}
	
	
	
	
	.scrollBox .piclist li .jg .msj{ width:85px; height:30px; float:left; font-size:24px; color:#F00; font-weight:bold; text-align:center; line-height:10px; font-family:Georgia, "Times New Roman", Times, serif;}
	.scrollBox .piclist li .jg .yj{width:70px; height:30px; float:left; font-size:16px;line-height:10px; color:#999; }

.scrollBox .piclist li span {
	padding-top:10px;
	height: 28px;
	width:200px; 
	
	line-height:1.1em;
	display: block;
	text-align: center;
	margin:0 auto;
	font-size:13px;
	overflow:hidden;
	
	
	
}



.scrollBox .pageBtn span {
	background: url(../images/seckill/bntBg.png) no-repeat;
	display: block;
	width: 37px;
	height: 59px;
	position: absolute;
	top: 72px;
	cursor: pointer;
	text-indent: -999em;
	overflow: hidden;
}
.scrollBox .pageBtn .prev {
	left: 20px;
	background-position: -11px -64px;
}
.scrollBox .pageBtn .next {
	right: 15px;
	background-position: -60px -65px;
}
.scrollBox .pageBtn .list {
	overflow: hidden;
	zoom: 1;
	margin: 10px 0 0 413px;
}
.scrollBox .pageBtn .list li {
	background: url(../images/seckill/bntBg.png);
	float: left;
	margin:0 auto ;
	display: inline;
	width: 15px;
	height: 15px;
	background-position: -86px -57px;
	cursor: pointer;
	
	line-height: 10000px;
	overflow: hidden;
}
.scrollBox .pageBtn .list li.on {
	background-position: -114px -57px
}
