<!-- $Id: start.htm 17216 2011-01-19 06:03:12Z liubo $ -->
{include file="pageheader.htm"}
<!-- start personal message -->
{if $admin_msg}
<div class="list-div">
  <table cellspacing='1' cellpadding='3'>
    <tr>
      <th>{$lang.pm_title}</th>
      <th>{$lang.pm_username}</th>
      <th>{$lang.pm_time}</th>
    </tr>
    {foreach from=$admin_msg item=msg}
      <tr align="center">
        <td align="left"><a href="message.php?act=view&id={$msg.message_id}">{$msg.title|truncate:60:"..."}</a></td>
        <td>{$msg.user_name}</td>
        <td>{$msg.sent_time}</td>
      </tr>
    {/foreach}
  </table>
</div>
<br/>
{/if}
<!-- end personal message -->
<!-- start order statistics -->
<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th colspan="4" class="group-title">{$lang.order_stat}</th>
  </tr>
  <tr>
    <td width="20%"><a href="order.php?act=list&composite_status={$status.await_ship}">{$lang.await_ship}</a></td>
    <td width="30%"><strong style="color: red">{$order.await_ship}</strong></td>
    <td width="20%"><a href="order.php?act=list&composite_status={$status.unconfirmed}">{$lang.unconfirmed}</a></td>
    <td width="30%"><strong>{$order.unconfirmed}</strong></td>
  </tr>
  <tr>
    <td><a href="order.php?act=list&composite_status={$status.await_pay}">{$lang.await_pay}</a></td>
    <td><strong>{$order.await_pay}</strong></td>
    <td><a href="order.php?act=list&composite_status={$status.finished}">{$lang.finished}</a></td>
    <td><strong>{$order.finished}</strong></td>
  </tr>
  <tr>
    <td><a href="goods_booking.php?act=list_all">{$lang.new_booking}</a></td>
    <td><strong>{$booking_goods}</strong></td>
    <td><a href="order.php?act=list&composite_status={$status.shipped_part}">{$lang.shipped_part}</a></td>
    <td><strong>{$order.shipped_part}</strong></td>
  </tr>
</table>
</div>
<!-- end order statistics -->
<br />
<!-- start goods statistics -->
<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th colspan="4" class="group-title">{$lang.goods_stat}</th>
  </tr>
  <tr>
    <td width="20%">{$lang.goods_count}</td>
    <td width="30%"><strong>{$goods.total}</strong></td>
    <td width="20%"><a href="goods.php?act=list&stock_warning=1">{$lang.warn_goods}</a></td>
    <td width="30%"><strong style="color: red">{$goods.warn}</strong></td>
  </tr>
  <!--<tr>
    <td><a href="goods.php?act=list&amp;intro_type=is_new">{$lang.new_goods}</a></td>
    <td><strong>{$goods.new}</strong></td>
    <td><a href="goods.php?act=list&amp;intro_type=is_best">{$lang.recommed_goods}</a></td>
    <td><strong>{$goods.best}</strong></td>
  </tr>
  <tr>
    <td><a href="goods.php?act=list&amp;intro_type=is_hot">{$lang.hot_goods}</a></td>
    <td><strong>{$goods.hot}</strong></td>
    <td><a href="goods.php?act=list&amp;intro_type=is_promote">{$lang.sales_count}</a></td>
    <td><strong>{$goods.promote}</strong></td>
  </tr>-->
</table>
</div>
{literal}
{insert_scripts files="../js/utils.js"}
<script type="Text/Javascript" language="JavaScript">
<!--
onload = function()
{
  /* 检查订单 */
  startCheckOrder();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
